@import "import/variables";
@import 'import/owl.carousel';
@import 'import/owl.theme.default';
@import "import/wordpress";
@import "grid/bootstrap";
@import "grid/bootstrap-theme";

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $fnorm;
  line-height: $base-line-height;
  min-width: 320px;
  color: $base-font-color;
  background-color: $base-background-color;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}
p,
pre {
  margin: 0 0 $small-spacing;
}
a {
  text-decoration: none;
  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
  }
  &:active,
  &:focus {
    outline: none;
    text-decoration: none;
  }
}
img,
picture {
  max-width: 100%;
  margin: 0;
}
.wrapper {
  position: relative;
  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;

  @extend .clearfix;
}
.container {
  position: relative;
  max-width: $width;
}

//common title styles
.yellow__after {
  font-size: 32px;
  position: relative;
  font-weight: 400;
  &:after {
    display: block;
    content:'';
    width: 75px;
    height: 4px;
    background-color: $yellow;
    margin-top: 45px;
  }
}

header {
  background-color: $base-background-color;
  padding: 19px 0;
  .header__logo {
    display: block;
    img {
      max-width: 100%;
    }
  }
  .header__phone--wrap {
    padding: 20px 0;
    .header__phone {
      display: block;
      float: right;
      color:#333;
      font-size: 24px;
      padding-right: 40px;
      background: url(../img/header_phone_bg.jpg) no-repeat;
      background-position: right center;
      height: 35px;
      line-height: 1.5;
      margin-right: 7%;
      @extend .clearfix;
    }
  }
}

section {
  direction:rtl;
  .first__title--block {
    height: 60vh;
    background:#fff url(../img/top_bg_b2.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
    direction:ltr;
    &:before {
      display: block;
      content:'';
      position: absolute;
      left: 0;
      top:0;
      background-color: rgba(0, 0, 0, .5);
      width: 100%;
      height: 100%;
      z-index:10;
    }
    .col-md-12 {
    height: 60vh;
    display: flex;
    align-items:center;
    justify-content:center;
    .page__title {
      color:#fff;
      font-size: 48px;
      font-weight: 400;
      text-align: center;
      position: relative;
      margin-right: 15px;
      padding-top: 5%;
      z-index: 15;
    }
    .page__title--bars {
        margin-top: 3%;
        width: 12px;
        height: 40px;
        background-color: #4b6173;
        display: inline-block;
        position: relative;
        &:before {
          display: block;
          content:'';
          background-color: #848586;
          width: 12px;
          height: 40px;
          position: absolute;
          right: -20px;
          top:0;
        }
        &:after {
          display: block;
          content:'';
          background-color: #848586;
          width: 12px;
          height: 40px;
          position: absolute;
          right: -40px;
          top:0;
        }
      }
    }
  }

  .second__info--block {
    padding: 40px 0;
    .first__info--row {
      margin-bottom: 40px;
      .info__block--right {
        img {
          display: block;
          width: 133px;
          height: 133px;
          margin: 0 auto;
          margin-bottom: 10px;
        }
        h4, p {
          font-size: 18px;
          font-weight: 300;
          text-align: center;
          margin-bottom: 10px;
        }
      }
      .info__block--left {
        .yellow__after {
          margin-bottom: 25px;
           &:after {
            margin-top: 25px;
           }
        }
        p {
          font-size: 18px;
          line-height: 1.3;
        }
      }
    }
    .second__info--row {
      background-color: #f8f8f8;
      padding: 40px 12% 40px 50px;
      margin-bottom: 100px;
      position: relative;
      &:before {
        display: block;
        content:'';
        width: 0; 
        height: 0; 
        border-top: 40px solid transparent;
        border-bottom: 40px solid transparent;
        border-left: 40px solid #f2f2f2;
        position: absolute;
        right: -6px;
        bottom:-26px;
        transform: rotate(45deg);
      }
      .col-md-6 {
        .second__row--button {
          max-width: 420px;
          width: 100%;
          color:#fff;
          background-color: $dark-aqua;
          text-align: center;
          display: block;
          font-size: 24px;
          padding: 25px;
          float: left;
          clear:both;
        }
        p {
          font-size: 24px;
          font-weight: 300;
        }
      }
    }
    .third__info--row {
      margin-bottom: 100px;
        .col-md-12 {
          display: flex;
          align-items:center;
          padding: 0;
        }
        .third__row--inner {
          border-right:24px solid $dark-aqua;
          padding: 10px 0;
          max-height: 94px;
        }
      .third__row--inner, .third__row--inner--special {
        display: inline-block;
        width: calc(25% - 5px);
        text-align: center;
        h4 {
          font-size: 22px;
          color:#333;
          font-weight: 400;
        }
        p {
          font-size: 20px;
          color:#858688;
        }
      }
    }
  }

  .third__services--block {
    margin-bottom: 100px;
    .yellow__after {
      text-align: center;
      margin-bottom: 50px;
      &:after {
        margin: 0 auto;
        margin-top: 30px;
      }
    }
      .service__item--wrap {
        box-shadow: 0 0 8px rgba(0,0,0,.5);
        max-width: 360px;
        max-height: 450px;
        margin: 0 auto;
      }
      .service__img--wrap {
        img {
          width: 100%;
          max-height: 225px;
        }
      }
      .service__decription--wrap {
        padding: 10px;
        h4 {
          font-size: 22px;
          font-weight: 400;
          color:#333;
          text-align: center;
          position: relative;
          direction:ltr;
          margin-bottom: 25px;
          &:after {
            display: inline-block;
            content:'';
            width: 34px;
            height: 26px;
            background-image: url(../img/bidr.jpg);
            background-repeat: no-repeat;
            margin-left: 10px;
          }
        }
        .services__list {
          padding-right: 15px;
          li {
            margin: 10px 0;
            font-size: 16px;
            color: #535353;
            list-style-type: none;
            position: relative;
            &:before {
              display: inline-block;
              content:'';
              width: 6px;
              height: 6px;
              position: absolute;
              top:8px;
              right: -15px;
              background-color: #4c6274;
            }
          }
        }
      }
  }
  .fourth__contact--block {
    height: 70vh;
    max-height: 585px;
    background-image: url(../img/contact_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 75px;
    .yellow__after {
      color:#fff;
      text-shadow: #000 1px 1px 3px;
      font-size: 32px;
      text-align: center;
      margin-bottom: 20px;
      &:after {
        margin: 0 auto;
        margin-top: 45px;
      }
    }
    .contact__form--wrap {
      width: 100%;
      max-width: 1500px;
      color:#fff;
      background-color: rgba(0, 0, 0, .3);
      margin: 0 auto;
      padding: 30px 10% 70px 10%;
      h4 {
        text-align: center;
        margin-bottom: 55px;
        font-weight: 400;
        font-size: 23px;
        font-style: italic;
      }
      form {
        .form-body {
          display: flex;
          justify-content:center;
          direction:rtl;
          .wpcf7-form-control-wrap {
            display: block;
            margin-right: 25px;
            max-width: 300px;
            width: 100%;
            &:first-child {
              margin-right: 10px;
            }
            input {
              width: 100%;
              padding: 15px;
              border-radius:2px;
              border:0;
              color:$gray-dark;
              &:focus {
                outline:none;
              }
            }
          }
          .wpcf7-submit {
              max-width: 325px;
              width: 100%;
              padding: 15px;
              border-radius:2px;
              border:0;
              color:#fff;
              background-color: #08b975;
              margin-right: 25px;
              font-size: 18px;
              text-align: center;
              font-weight: 300;
              max-height: 50px;
              &:focus {
                outline:none;
              }
          }
        }
      }
    }
  }
  .fifth__video--block {
    padding-top: 90px;
    margin-bottom: 100px;
    .yellow__after {
      text-align: center;
      margin-bottom: 60px;
      &:after {
        margin: 0 auto;
        margin-top: 40px;
      }
    }
    .video__wrap {
      padding: 0 10px;
      iframe {
        height: 180px;
        margin-bottom: 15px;
      }
      .video__descr--wrap {
        text-align: center;
        h4 {
          font-size: 21px;
          font-weight: 400;
          font-style: italic;
          color:$gray-dark;
          margin-bottom: 10px;
        }
        p {
          font-size: 18px;
          font-style: italic;
          color:#6c6d74;
        }
      }
    }
  }
  .sixth__slider--block {
    padding-bottom: 40px;
    box-shadow: 0px 7px 20px -7px #212121;
    .yellow__after {
      text-align: center;
      margin-bottom: 50px;
      &:after {
        margin: 0 auto;
        margin-top: 45px;
      }
    }
    .owl-carousel {
      .owl__text--inner {
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        width: 70%;
        margin: 0 auto;
        margin-bottom: 35px;
        .owl__inner--main {
          margin-bottom: 20px;
        }
      }
      .owl-dots {
        text-align: center;
        button {
          width: 8px;
          height: 8px;
          border-radius:50%;
          margin: 0 5px;
          background-color: #cccccc;
          &:focus {
            outline:none;
          }
        }
        .active {
          background-color: $yellow;
        }
      }
    }
  }
}

footer {
  background-color: #3b5c6f;
  padding: 25px 0;
  color:#fff;
  font-size: 18px;
  text-align: center;
  direction: rtl;
  .copyright {
    margin-bottom: 10px;
  }
  .footer__tel {
    display: inline-block;
    color:#fff;
    &:hover {
      color:#fff;
    }
  }
  .footer__tel--title {
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 0;
  }
}

//Media Query

@media screen and (min-width: 1900px) {
  .container {
    width: 1470px;
    max-width:100%;
  }
  section {
    .fourth__contact--block {
      .yellow__after {
        margin-bottom: 100px;
      }
      .contact__form--wrap {
        padding-bottom: 100px;
      }
    }
    .fifth__video--block {
    .video__wrap {
      iframe {
        height: 225px;
        margin-bottom: 25px;
      }
      .video__descr--wrap {
        h4 {
          margin-bottom: 15px;
        }
      }
    }
  }
  }
}

@media screen and (max-width: 1900px) {
  section {
    .second__info--block {
      .third__info--row {
        .third__row--inner {
          h4 {
            font-size: 18px;
          }
          p {
            font-size: 16px;
          }
        }
      }
    }
    .third__services--block {
      .service__decription--wrap {
        .services__list li {
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .yellow__after {
    &:after {
      margin-top: 20px !important;
    }
  }
  section {
    .second__info--block {
      .second__info--row {
        padding: 40px;
        &:before {
          display: none;
        }
      }
    }
    .third__services--block {
      .col-md-3 {
        padding: 0 5px;
      }
      .service__decription--wrap {
        h4 {
          font-size: 16px;
          &:after {
              width: 24px;
              height: 18px;
              background-size: cover;
          }
        }
        .services__list {
          li {
            font-size: 12px;
          }
        }
      }
    }
    .fourth__contact--block {
      padding-top: 30px;
    }
  }
}

@media screen and (max-width: 768px) {
  section {
    .second__info--block {
      .first__info--row {
        .info__block--left {
          p {
            font-size: 16px;
          }
        }
      }
      .second__info--row {
        .col-md-6 {
          p {
            font-size: 18px;
          }
        }
      }
      .third__info--row {
        margin-bottom: 50px;
        .col-md-12 {
          flex-wrap:wrap;
        }
        .third__row--inner, .third__row--inner--special {
          width: 50%;
          margin-bottom: 20px;
          border-right: 24px solid #3f6175;
        }
      } 
    }
    .third__services--block {
      .col-md-3 {
        &:last-child {
          display: none;
        }
      }
    }
    .fourth__contact--block {
      .contact__form--wrap {
        padding: 25px 15px 30px 15px;
      }
    }
    .fifth__video--block {
      margin-bottom: 50px;
      .video__wrap {
        margin-bottom: 25px;
      }
    }
    .sixth__slider--block {
      .owl-carousel {
        .owl__text--inner {
          width: 100%;
          margin-bottom: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  header {
    padding: 30px 0;
    .header__logo {
      text-align: center;
    }
    .header__phone--wrap {
      display: none;
    }
  }
  section {
    .first__title--block {
      background-position: 60% center;
      .col-md-12 {
        .page__title {
          font-size: 38px;
          margin: 0;
        }
        .page__title--bars {
          display: none;
        }
      }
    }
    .second__info--block {
      padding-bottom: 0;
      .first__info--row {
          display: flex;
          flex-direction: column-reverse;
          .info__block--right {
            margin-bottom: 25px;
            h4, p {
              font-weight: 400;
            }
          }
          .info__block--left {
            .yellow__after {
              text-align: center;
              &:after {
                margin: 0 auto;
              }
            }
          }
      }
      .second__info--row {
          display: flex;
          flex-direction: column-reverse;
          margin-bottom: 50px;
          .col-md-6 {
            p {
              font-size: 20px;
              margin-bottom: 25px;
              text-align: center;
            }
          }
      }
      .third__info--row {
        .third__row--inner, .third__row--inner--special {
          width: 80%;
          margin: 0 auto;
          margin-bottom: 25px;
          height: 80px;
        }
        .third__row--inner--special {
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            max-width: 200px;
          }
        }
      }
    }
    .third__services--block {
      .col-md-3 {
        margin-bottom: 25px;
        &:last-child {
          display: block;
        }
      }
      .service__decription--wrap {
        h4 {
          font-size: 22px;
          &:after {
            width: 34px;
            height: 26px;
          }
        }
        .services__list {
          li {
            font-size: 16px;
          }
        }
      }
    }
    .fourth__contact--block {
      height: auto;
      padding: 30px 0;
      background-position: center;
      .contact__form--wrap {
        h4 {
          margin-bottom: 25px;
          font-size: 20px;
        }
        form {
          .form-body {
          flex-direction: column;
          align-items: center;
          .wpcf7-form-control-wrap {
            margin-right: 0;
            margin-bottom: 15px;
            &:first-child {
              margin-right: 0;
            }
          }
          .wpcf7-submit {
            max-width: 300px;
            margin: 0;
          }
          }
        }
      }
    }
    .fifth__video--block {
      padding-top: 50px;
      margin-bottom: 25px;
    }
    .sixth__slider--block {
      .owl-carousel {
        .owl__text--inner {
          .owl__inner--main, .owl__inner--title {
            font-size: 15px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  section {
    .second__info--block {
      .first__info--row {
        .info__block--left {
          p {
            text-align: center;
          }
        }
      }
      .second__info--row {
        padding: 15px;
      }
    }
    .third__services--block {
      .col-md-3 {
        padding: 0 15px;
      }
    }
    .fourth__contact--block {
      .yellow__after {
        font-size: 28px;
      }
      .sixth__slider--block {
        .owl-carousel {
          .owl__text--inner {
            .owl__inner--main, .owl__inner--title {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}


@import "fonts/font_opensans";
